version: 2

updates:

  - package-ecosystem: "docker"
    directory: "/"
    schedule:
      interval: "daily"

  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "daily"

  - package-ecosystem: "terraform"
    directory: "/"
    schedule:
      interval: "daily"

  - package-ecosystem: "pip"
    directory: "/"
    cooldown:
      default-days: 5
      semver-major-days: 7
      semver-minor-days: 7
      semver-patch-days: 3
    schedule:
      interval: "daily"
